body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EAE7DC;
}

ul {
    list-style-type: none;
}

h1 {
    font-weight: 600;
    color: #E85A4F;
}

h2 {
    font-weight: 500;
    color: #E85A4F;
}

h3 {
    font-weight: 400;
    color: #E98074;
}

h4 {
    font-weight: 300;
    font-size: 14pt;
    color: #8E8D84;
}

h5 {
    font-weight: 200;
    font-size: 12pt;
    color: #8E8D84;
}

#header {
    padding-bottom: 5%;
}

#paragraph {
    color: #8E8D84;
}

#avatar {
    border-radius: 50%;
    width: 30%;
    height: 30%;
}

#bar {
    margin-right: 50%;
    border-bottom: 1px solid #8E8D84;
    padding-bottom: 5px;
}

#summary {
    padding-top: 100pt;
    padding-bottom: 30%;
}

#projects {
    padding-bottom: 30%;
}